.app-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1; /* takes remaining space */
  display: flex;
}
section {
  flex: 1;
  display: flex;
}
footer {
  flex: 0 0 auto;
}
