:host {
  display: flex;
  flex: 1;
}

.app-live-feed-sender {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.control-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-group {
  display: flex;
  justify-content: end;
}
