<div class="live-feed-rec">
  <section>
    <header>
      <h1>Live Feed</h1>
    </header>
    <main>
      <form [formGroup]="formModel" (ngSubmit)="onSubmit()">
        <div class="form-control">
          <label for="firstName">First Name</label>
          <input formControlName="firstName" id="firstName" #firstNameCtrl autocomplete="username" />
          <div
            class="validation-handler"
            *ngIf="formModel.get('firstName')?.invalid && formModel.get('firstName')?.touched"
          >
            <small *ngIf="formModel.get('firstName')?.hasError('required')"
              >First name is mandatory</small
            >
            <small *ngIf="formModel.get('firstName')?.hasError('minlength')"
              >Must be at least 3 characters</small
            >
            <small *ngIf="formModel.get('firstName')?.hasError('maxlength')"
              >Maximum 10 characters</small
            >
          </div>
        </div>

        <div class="form-control">
          <label for="lastName">Last Name</label>
          <input formControlName="lastName" id="lastName" />
          <div
            class="validation-handler"
            *ngIf="formModel.get('lastName')?.invalid && formModel.get('lastName')?.touched"
          >
            <small *ngIf="formModel.get('lastName')?.hasError('required')"
              >Last name is mandatory</small
            >
            <small *ngIf="formModel.get('lastName')?.hasError('minlength')"
              >Must be at least 3 characters</small
            >
            <small *ngIf="formModel.get('lastName')?.hasError('maxlength')"
              >Maximum 10 characters</small
            >
          </div>
        </div>

        <div class="form-control">
          <label for="firstName">Wave</label>
          <checkbox formControlName="waveGreeting" id="waveGreeting" />
        </div>
        <div class="form-control">
          <button type="submit" id="submit" aria-label="submit form">Submit</button>
          <button type="clear" id="clear" aria-label="clear form">Clear</button>
          <button type="button" id="submit" aria-label="auto populate">Auto Populate</button>
        </div>
      </form>
    </main>
  </section>
</div>
